# Local binaries & test artefacts
.bin/
.DS_Store
*.log
*.tmp
# KIND docker images & kubeconfig if copied here accidentally
*.tgz
# Well known location for the kubeconfig to use talk to the test-infra cluster.
kubeconfig
